li{background-color: rgb(139, 139, 139);
    border: 2px solid grey;
        width: 285px;
        margin: 15px;    
        list-style: none;
    }
div.parrent{display: flex;
    height: 960px;
    width: 960px;

    