.menu-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 20px;
}

.text {
    color: white;
    font-size: 24px;

}

body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f4f4f4;
}

.menu-item {
    background-color: #a5caf0;
    color: white;
    padding: 15px 30px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    font-size: 16px;
    text-align: center;
    transition: background-color 0.3s ease;
}